*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gradient-bg{
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #142e8d 100%);
}

.full-h{
    min-height: 100vh;
}

.selected{
    background-color: rgb(202, 239, 154);
    color: darkgreen;
}

.centered{
    justify-content: center;
    align-items: center;
}

textarea {
    min-height: 400px;
}

.sm-img{
    height: 100px;
    width: auto;
}

.glass {
    color: #fff;
    padding: 20px 20px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    border-top: 1px solid rgba(225, 225, 225, 0.4);
    border-left: 1px solid rgba(225, 225, 225, 0.2);
    border-right: thin solid rgba(225, 225, 225, 0.3);
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0px 28px 48px rgba(0, 0, 0, 0.1);
}

.glass-darker {
    color: #fff;
    padding: 20px 20px;
    background: rgba(255, 0, 187, 0.15);
    border-radius: 10px;
    border-top: 1px solid rgba(225, 225, 225, 0.4);
    border-left: 1px solid rgba(225, 225, 225, 0.2);
    border-right: thin solid rgba(225, 225, 225, 0.3);
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: 0px 28px 48px rgba(0, 0, 0, 0.1);
}

.unread {
    color : black;
    background: rgba(255, 255, 255, 0.8);
    border : 1px solid white;
}

.read{
    background-color: rgba(0, 0, 0, 0.2);
    color: darkgray;
}

.archived{
    background-color: #b107674c;
    color : white;
}

.badge{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
    font-weight: lighter!important;
    font-size: 0.8rem!important;
}
