{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<div class="container align-items-center glass">
    <!-- HEADER with LOGO, LOGIN Nav -->
    <div class="row align-items-center" id="navbar">
        <div class="col-sm-6 d-flex align-items-center">
            <h1 class="d-inline fs-2"><i class="fa-solid fa-paper-plane"></i> MAILBOX</h1>
        </div>
        <div class="col-sm-6 text-end">
            <h2 class="fs-6 d-inline">🐼 {{ request.user.email }}</h2>
            <a class="btn btn-sm btn-danger" href="{% url 'logout' %}">Log Out</a>
        </div>
    </div>
    <hr>
    <!-- MAILBOX NAV : 4 togglers btn -->
    <div class="row" id="mailbox-btns">
        <div class="col-sm-12 text-center">
            <button class="btn btn-sm btn-light" id="inbox"><i class="fa-solid fa-inbox"></i> Inbox</button>
            <button class="btn btn-sm btn-light" id="sent"><i class="fa-solid fa-arrow-up-right-from-square"></i>
                Sent</button>
            <button class="btn btn-sm btn-light" id="archived"><i class="fa-solid fa-box-archive"></i> Archived</button>
            <button class="btn btn-sm btn-light text-success" id="compose"><i class="fa-solid fa-pen-to-square"></i>
                New ✨</button>
        </div>
        <br>
        <br>
    </div>
    <!-- MAILBOX TITLE -->
    <div class="row mb-2" id="mailbox-title">
    </div>
    <!-- EMAILS TABLE : Titles -->
    <div class="row glass-darker mx-1 px-2 py-1 mb-1" id="email-table-titles-view">
    </div>
    <!-- EMAILS TABLE : Content = EMAILS -->
    <div class="row glass mx-1 mb-5" id="email-table-content">
        <div id="emails-view" class="text-justify">
        </div>
        <div id="compose-view" class="text-center">
            <h3>New Email</h3>
            <form id="compose-form">
                <div class="form-group my-3 text-start">
                    From: <input disabled class="form-control" value="{{ request.user.email }}">
                </div>
                <div class="form-group my-3 text-start">
                    To: <input id="compose-recipients" class="form-control">
                </div>
                <div class="form-group my-3">
                    <input class="form-control" id="compose-subject" placeholder="Subject">
                </div>
                <textarea class="form-control my-3" id="compose-body" placeholder="Body" rows="6"></textarea>
                <input type="submit" class="btn btn-primary" id="send-email-btn" />
            </form>
        </div>
        <div id="email-view">
            <div class="row" id="subject-timestamp">

            </div>
            <div class="row text-start" id="email-data">
            </div>
            <div class="row" id="email-status-btn">
                <div class="col text-end">
                <button type="button" class="btn btn-primary" id="reply-btn">Reply</button>
                <button type="button" class="btn btn-danger" id="archive-btn">Archive it</button>
                </div>
            </div>
            <div class="row px-0 py-3" id="email-body">
            </div>
            
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}