{% extends "mail/layout.html" %}

{% block body %}
<div class="container">
    <div class="row centered full-h">
        <div class="col-sm-3 text-center">
           

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" class="glass">
        <h2 class="my-4 fs-3">Register<br>
        🌱</h2>
        {% csrf_token %}
        <div class="form-group mt-3">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
    
        <div class="form-group my-3">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group my-3">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary mb-3" type="submit" value="Register">
        <p> Already have an account?<br><a href="{% url 'login' %}" class="link-dark">Log In here.</a></p>
    </form>

   

{% endblock %}